<!-- ###TEMPLATE_RSS2### begin -->
	###RSS_DECLARATION###
	<channel><!-- ###HEADER### begin -->
		<title>###SITE_TITLE###</title>
		<link>###SITE_LINK###</link><!-- ###SUBPART_SITE_DESCRIPTION### begin-->
		<description>###SITE_DESCRIPTION###</description><!-- ###SUBPART_SITE_DESCRIPTION### end--><!-- ###IMAGE### begin -->
		<image>
			<title>###SITE_TITLE###</title>
			<url>###IMAGE_PATH###</url>
			<link>###SITE_LINK###</link>
			###IMAGE_WITDH###
			###IMAGE_HEIGHT###
			###IMAGE_DESCRIPTION###
		</image><!-- ###IMAGE### end --><!-- ###SUBPART_LANGUAGE### begin-->
		<language>###LANGUAGE###</language><!-- ###SUBPART_LANGUAGE### end--><!-- ###SUBPART_COPYRIGHT### begin-->
		<copyright>###COPYRIGHT###</copyright><!-- ###SUBPART_COPYRIGHT### end--><!-- ###SUBPART_MANAGINGEDITOR### begin-->
		<managingEditor>###MANAGINGEDITOR###</managingEditor><!-- ###SUBPART_MANAGINGEDITOR### end--><!-- ###SUBPART_WEBMASTER### begin-->
		<webMaster>###WEBMASTER###</webMaster><!-- ###SUBPART_WEBMASTER### end-->
		<pubDate>###PUBDATE###</pubDate><!-- ###SUBPART_GENERATOR### begin-->
		<generator>###GENERATOR###</generator><!-- ###SUBPART_GENERATOR### end--><!-- ###SUBPART_DOCS### begin-->
		<docs>###DOCS###</docs><!-- ###SUBPART_DOCS### end--><!-- ###SUBPART_CLOUD### begin-->
		###CLOUD###<!-- ###SUBPART_CLOUD### begin--><!-- ###SUBPART_TTL### end-->
		<ttl>###TTL###</ttl><!-- ###SUBPART_TTL### end--><!-- ###SUBPART_RATING### begin-->
		<rating>###RATING###</rating><!-- ###SUBPART_RATING### end--><!-- ###TEXTINPUT### begin -->
		<textInput>
			<title>###TEXTINPUT_TITLE###</title>
			<description>###TEXTINPUT_DESCRIPTION###</description>
			<name>###TEXTINPUT_NAME###</name>
			<link>###TEXTINPUT_LINK###</link>
		</textInput><!-- ###TEXTINPUT### end -->
		###SKIPHOURS###
		###SKIPDAYS###
	<!-- ###HEADER### end -->
	<!-- ###CONTENT### begin -->
		<!-- ###DATASET### begin -->
		<item>
			<title>###DATASET_TITLE###</title>
			<link>###DATASET_LINK###</link>
			<description>###DATASET_DESCRIPTION###</description><!-- ###SUBPART_AUTHOR### begin -->
			<author>###DATASET_AUTHOR###</author><!-- ###SUBPART_AUTHOR### end -->
			<pubDate>###DATASET_PUBDATE###</pubDate>
		</item>
		<!-- ###DATASET### end -->
	<!-- ###CONTENT### end -->
	</channel>
</rss><!-- ###TEMPLATE_RSS2### end -->
